<template>
  <div class="main-container">
    <div class="app-container">
      <div class="notification-dialog" v-show="(actionResponse.error && !actionResponse.success) || (!actionResponse.error && actionResponse.success)" :class="{'error': (actionResponse.error && !actionResponse.success), 'success': (!actionResponse.error && actionResponse.success)}">
          <button type="button" aria-label="Close" class="close" v-on:click="clearAlert()">×</button>
          {{actionResponse.notice}}
      </div>

      <div class="menu-container">
        <div class="menu-options">
          <div class="option-toggle">
            <input type="submit" class="button-primary primary" value="Add New" v-on:click.stop="toggleMenu('activityCrud')">
          </div>
          <div class="option-toggle">
            <input type="submit" class="button-primary primary" value="Special" v-on:click.stop="toggleMenu('specialOptions')">
          </div>
        </div>
        <div class="submenu-container" v-if="menuOpen == 'activityCrud'">
          <div class="submenu">
            <ActivityCrud v-bind:clearData="(menuOpen == 'activityCrud')" v-on:closeCrud="closeCrud" v-bind:newActivity="true" />
          </div>
        </div>
        <div class="submenu-container" v-if="menuOpen == 'specialOptions'">
          <div class="submenu">
            <div class="form-container">
              <form action="" class="form" v-on:submit.prevent>
                <div class="form-input-container">
                  <label class="form-label input-label">Options:</label>
                  <div class="select-container">
                    <select class="form-select" v-model="formData.special">
                      <option class="form-option" v-for="(special, key) in specials" v-bind:value="special.value">
                        {{special.text}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-input-container actions-container">
                  <div class="button-container">
                    <input type="submit" class="button-primary primary" value="Save" v-on:click="specialSubmit">
                  </div>
                  <div class="button-container">
                    <input type="submit" class="button-primary danger" value="Cancel" v-on:click="specialCancel">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <ActivityList />
    </div>
    <!--Footer /-->
  </div>
</template>

<script>


import bAlert from 'bootstrap-vue/es/components/alert/alert';
var moment = require('moment-timezone');

import {
  mapActions,
  mapGetters
} from 'vuex'

import ActivityList from "./containers/ActivityList";
import ActivityCrud from "./components/ActivityCrud";

export default {
  name: 'Main',
  components:
  {
    ActivityCrud,
    ActivityList,
    'b-alert': bAlert
  },
  data()
  {
    return {
      specialOptionsShown: false,
      menuOpen: '',
      formData: {
        special: null
      },
      specials: [
        {
          text: 'Please select an option...',
          value: null
        },
        {
          text: 'Add 100',
          value: 100
        },
        {
          text: 'Add 1000',
          value: 1000
        },
        {
          text: 'Remove 100',
          value: -100
        },
        {
          text: 'Remove 1000',
          value: -1000
        },
        {
          text: 'Fetch 1.000',
          value: 'fetch_1000'
        },
        {
          text: 'Fetch 10.000',
          value: 'fetch_10000'
        },
        {
          text: 'Delete All',
          value: 0
        }
      ]
    }
  },
  created()
  {

  },
  methods:
  {
    ...mapActions([
      'generateActivities',
      'fetchActivities',
      'clearAlert'
    ]),
    specialSubmit(val)
    {
      var me = this;

      me.generateActivities(me.formData.special);
    },
    specialCancel()
    {
      var me = this;
      me.formData.special = null;
      me.toggleMenu();
    },
    toggleMenu(menu)
    {
      var me = this;
      me.menuOpen = (menu != undefined && menu != me.menuOpen) ? menu : '';
    },
    closeCrud()
    {
      var me = this;
      me.toggleMenu();
      me.clearAlert();
    }
  },
  computed:
  {
    ...mapGetters([
      'actionResponse'
    ]),
    variant()
    {
      var me = this;

      return (me.actionResponse.error) ? 'danger' : 'success';
    }
  }
}

</script>
