<div class="main-container">
  <div class="app-container">
    <div class="notification-dialog" *ngIf="(actionResponse$.error && !actionResponse$.success) || (!actionResponse$.error && actionResponse$.success)" [ngClass]="{'error': (actionResponse$.error && !actionResponse$.success), 'success': (!actionResponse$.error && actionResponse$.success)}">
        <button type="button" aria-label="Close" class="close" (click)="clearAlert()">×</button>
        {{actionResponse$.notice}}
    </div>
    <div class="menu-container">
      <div class="menu-options">
        <div class="option-toggle">
          <input type="submit" class="button-primary primary" value="Add New" (click)="toggleMenu('activityCrud')">
        </div>
        <div class="option-toggle">
          <input type="submit" class="button-primary primary" value="Special" (click)="toggleMenu('specialOptions')">
        </div>
      </div>
      <div class="submenu-container" *ngIf="menuOpen == 'activityCrud'">
        <div class="submenu">
          <activity-crud (closeCrud)="toggleMenu()"></activity-crud>
        </div>
      </div>
      <div class="submenu-container" *ngIf="menuOpen == 'specialOptions'">
        <div class="submenu">
          <div class="form-container">
            <form action="" class="form">
              <div class="form-input-container">
                <label class="form-label input-label">Options:</label>
                <div class="select-container">
                  <select class="form-select" (change)="selectSpecial($event.target.value)">
                    <option class="form-option" *ngFor="let spec of specials$" [value]="spec.value" [selected]="spec.value == special$" [disabled]="spec.value === null">
                      {{spec.text}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-input-container actions-container">
                <div class="button-container">
                  <input type="submit" class="button-primary primary" value="Save" (click)="specialSubmit()">
                </div>
                <div class="button-container">
                  <input type="submit" class="button-primary danger" value="Cancel" (click)="specialCancel()">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <activity-list></activity-list>
  </div>
</div>
