<div class="activity-list-container">
  <div class="activity-list-details">
    <h3 class="list-title">ToDo List</h3>
    <div class="activity-stats-container">
      <div class="activity-stat">
        Total: {{total$}}
      </div>
      <div class="activity-stat">
        Completed: {{completed$}}
      </div>
    </div>
  </div>
  <div class="activity-list" *ngIf="total$ > 0">
    <activity-item *ngFor="let activity of activities$" [activity]="activity"></activity-item>
  </div>
</div>
