<header>
  <div class="header-container">
    <div class="logo-container">
      <img class="logo" src="../assets/img/logo.png" alt="Angular Logo">
    </div>
    <div class="title-container">
      <h3>Angular ToDo App</h3>
    </div>
  </div>
</header>
