<div class="activity">
  <div class="activity-details">
    <div class="activity-checkbox delete" (click)="deleteActivity()">
      <img class="activity-checkbox-image" src="../assets/img/delete.svg" alt="completed icon">
    </div>
    <div class="activity-name">{{activity.name}}</div>
    <div class="activity-checkbox change-state" (click)="changeActivityState()">
      <img class="activity-checkbox-image" *ngIf="activity.completed" src="../assets/img/checked.svg" alt="completed icon">
      <img class="activity-checkbox-image" *ngIf="!activity.completed" src="../assets/img/unchecked.svg" alt="completed icon">
    </div>
  </div>
</div>
