<div class="form-container">
  <form action="" class="form">
    <div class="form-input-container">
      <label class="form-label input-label">Name:</label>
      <input class="text-input" type="text" placeholder="Enter the activity name..." [formControl]="textField" />
      <small class="input-description">Enter the desired activity name which will be shown on the Activities list.</small>
    </div>
    <div class="form-input-container checkbox-container">
      <input class="form-checkbox" id="activityCompleted" type="checkbox" [formControl]="completedField" />
      <label class="form-label checkbox-label" for="activityCompleted">Activity Completed</label>
    </div>
    <div class="form-input-container actions-container">
      <div class="button-container">
        <input type="submit" class="button-primary primary" value="Save" (click)="formSubmit()" />
      </div>
      <div class="button-container">
        <input type="submit" class="button-primary danger" value="Cancel" (click)="formCancel()" />
      </div>
    </div>
  </form>
</div>
