<template>
  <div id="app">
    <Header />
    <router-view></router-view>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import Header from './views/containers/Header';

export default {
  name: 'app',
  data: function()
  {
    return {}
  },
  components:
  {
    Header
  },
  methods:
  {

  },
  created: function()
  {

  },
  watch:
  {

  },
  computed:
  {

  }
}
</script>
