<template>
  <div class="activity-list-container">
    <div class="activity-list-details">
      <h3 class="list-title">ToDo List</h3>
      <div class="activity-stats-container">
        <div class="activity-stat">
          Total: {{total}}
        </div>
        <div class="activity-stat">
          Completed: {{completed}}
        </div>
      </div>
    </div>
    <div class="activity-list" v-if="!isEmpty">
      <Activity v-for="(activity, key) in activities" :key="key" v-bind:activity="activity" />
    </div>
  </div>
</template>

<script>

import {
  mapActions,
  mapGetters
} from 'vuex'

import Activity from '../components/Activity.vue'

export default {
  name: 'ActivityList',
  components:
  {
    Activity
  },
  data()
  {
    return {

    }
  },
  created()
  {
    var me = this;
  },
  methods:
  {
    ...mapActions([

    ])
  },
  computed: {
    ...mapGetters([
      'activities'
    ]),
    completed()
    {
      var me = this;
      return me.activities.filter((val) => val.completed === true).length;
    },
    total()
    {
      var me = this;
      return me.activities.length;
    },
    isEmpty()
    {
      var me = this;
      return me.activities.length === 0;
    }
  }
}

</script>
