<template>
  <header>
    <div class="header-container">
      <div class="logo-container">
        <img class="logo" src="../../../assets/img/logo.png" alt="Vue.js Logo">
      </div>
      <div class="title-container">
        <h3>Vue.js ToDo App</h3>
      </div>
    </div>
  </header>
</template>

<script>

import {
  mapActions,
  mapGetters
} from 'vuex'

export default {
  name: 'Header',
  components:
  {

  },
  data()
  {
    return {

    }
  },
  created()
  {

  },
  methods:
  {

  },
  computed: {

  }
}

</script>
