<template>
    <div class="activity">
      <div class="activity-details">
        <div class="activity-checkbox delete" v-on:click.stop="deleteActivity(activity)">
          <img class="activity-checkbox-image" src="../../../assets/img/delete.svg" alt="completed icon">
        </div>
        <div class="activity-name">{{activity.name}}</div>
        <div class="activity-checkbox change-state" v-on:click.stop="changeActivityState(activity)">
          <img class="activity-checkbox-image" v-if="activity.completed" src="../../../assets/img/checked.svg" alt="completed icon">
          <img class="activity-checkbox-image" v-else src="../../../assets/img/unchecked.svg" alt="completed icon">
        </div>
      </div>
    </div>
</template>

<script>

import {
  mapActions,
  mapGetters
} from 'vuex'

export default {
  name: 'Activity',
  components:
  {

  },
  props: ['activity'],
  data()
  {
    return {

    }
  },
  created()
  {
    var me = this;
  },
  methods:
  {
    ...mapActions([
      'changeActivityState',
      'deleteActivity'
    ])
  },
  computed: {
    ...mapGetters([

    ])
  }
}

</script>
