<template>
  <div class="form-container">
    <form action="" class="form" v-on:submit.prevent>
      <div class="form-input-container">
        <label class="form-label input-label">Name:</label>
        <input v-model="formData.name" :class="(actionResponse.error && actionResponse.inputError) ? 'error' : ''" class="text-input" type="text" placeholder="Enter the activity name...">
        <small class="input-description">Enter the desired activity name which will be shown on the Activities list.</small>
      </div>
      <div class="form-input-container checkbox-container" v-on:click.prevent="formData.completed = !formData.completed">
        <input class="form-checkbox" id="activityCompleted" type="checkbox" :checked="formData.completed">
        <label class="form-label checkbox-label" for="activityCompleted">Activity Completed</label>
      </div>
      <div class="form-input-container actions-container">
        <div class="button-container">
          <input type="submit" class="button-primary primary" value="Save" v-on:click="formSubmit">
        </div>
        <div class="button-container">
          <input type="submit" class="button-primary danger" value="Cancel" v-on:click="formCancel">
        </div>
      </div>
    </form>
  </div>
</template>

<script>

import {
  mapActions,
  mapGetters
} from 'vuex'

export default {
  name: 'ActivityCrud',
  props: ['clearData', 'response', 'newActivity'],
  components:
  {

  },
  data()
  {
    var me =  this;
    return {
      formData:
      {
        name: '',
        completed: false
      }
    }
  },
  created()
  {
    var me = this;
  },
  methods:
  {
      ...mapActions([
      'addActivity',
    ]),
    editTodo()
    {
      var me = this;

      var formData = me.formData;

      me.addActivity(formData);
    },
    formSubmit()
    {
      var me = this;

      var formData = me.formData;

      me.addActivity(me.formData);
      me.formReset(false);
    },
    formReset(clearAlert)
    {
      var me = this;

      me.formData = {
        name: '',
        completed: false
      };
    },
    formCancel()
    {
      var me = this;
      me.$emit('closeCrud');
    }
  },
  computed:
  {
    ...mapGetters([
      'activities',
      'actionResponse'
    ])
  },
  watch:
  {
    clearData(val)
    {
      var me = this;
      if(val) me.formReset();
    }
  }
}

</script>
