#app {
  position: relative;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  max-width: 840px;
  margin: 0 auto;
  z-index: 5;
  padding: 0.3rem;
  background: #6a9ae8;
  /*#35495e+0,4cbc8a+33,4cbc8a+67,35495e+100 */
  //background: #35495e; /* Old browsers */
  //background: -moz-linear-gradient(left, #35495e 0%, #4cbc8a 33%, #4cbc8a 67%, #35495e 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(left, #35495e 0%,#4cbc8a 33%,#4cbc8a 67%,#35495e 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to right, #35495e 0%,#4cbc8a 33%,#4cbc8a 67%,#35495e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


  & .header-container {
    display: flex;
    color: #000000;
    align-items: center;
    margin: 0 auto;
    width: 300px;

    & h2 {
      width: 100%;
      text-align: center;
    }

    & .logo-container {
      width: 40px;

      & .logo {
        height: 35px;
      }
    }

    & .title-container {
      width: calc(100% - 40px);
      text-align: center;

      h3 {
        margin: 0;
        color: #ffffff;
      }
    }
  }
}

.main-container {
  max-width: 840px;
  margin: 0 auto;

  & .app-container {
    padding: 1rem;
    position: relative;
    margin: 0 auto;

    & .notification-dialog {
      top: 0;
      left: 0;
      position: relative;
      padding: 0.75rem 1.25rem;
      padding-right: 4rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;

      &.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
      }

      &.success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
      }

      & .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.75rem 1.25rem;
        color: inherit;
        background-color: transparent;
        border: 0;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;

        &:hover {
          cursor: pointer;
        }
      }
    }

    & .menu-container {
      margin-bottom: 20px;

      & .menu-options {
        display: flex;
        flex-direction: row;

        & .option-toggle {
          display: flex;
          margin: 0 auto;
        }
      }

      & .submenu-container {
        margin-top: 0.5rem;
        position: relative;
        flex-direction: column;
        display: flex;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

        & .submenu {
          flex: 1 1 auto;
          padding: 1.25rem;
        }
      }
    }

    & .form-buttons {
      display: flex;

      & .button-container {
        margin: 0 auto;
      }
    }

    & .activity-list-container {
      margin-top: 0.5rem;
      position: relative;
      flex-direction: column;
      display: flex;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      flex: 1 1 auto;
      padding: 1.25rem;

      & .activity-list {
        -webkit-flex-direction: row-reverse;
        flex-direction: column-reverse;
        display: flex;
        display: -webkit-flex;

        & .activity {
          background-clip: border-box;
          border: 1px solid rgba(0, 0, 0, 0.125);
          border-radius: 0.25rem;
          padding: 1rem;
          display: flex;
          margin-top: 5px;
          flex-direction: column;

          & .activity-details {
            display: flex;

            & .activity-name {
              flex: 1;
            }

            & .activity-checkbox {
              position: relative;

              &.delete {
                margin-right: 1rem;
              }

              &.change-state {
                margin-right: 1rem;
              }

              & .activity-checkbox-image {

              }
            }
          }
        }
      }
    }
  }
}

.button-primary {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;

  &.small {
    line-height: 1;
    padding: 0.1875rem 0.375rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &.primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    &:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
  }

  &.danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

    &:hover {
      color: #fff;
      background-color: #c82333;
      border-color: #bd2130;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    }
  }

}


.form-container {

  & .form {


    & .form-input-container {
      position: relative;

      &:not(:first-child)
      {
        margin-top: 15px;
      }

      &.checkbox-container {
        display: block;
        position: relative;

        & .form-label {
          margin-left: 5px;
        }
      }

      &.actions-container {
        display: flex;
        flex-direction: row;

        & .button-container {
          display: flex;
          margin: 0 auto;
        }
      }

      & .text-input {
        display: block;
        width: 90%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        &.error {
          box-shadow: 0 0 1.5px 1px red;
        }
      }

      & .input-description {
        color: #6c757d;
        display: block;
        margin-top: 0.25rem;
      }

      & .select-container {

        & .form-select {
          display: inline-block;
          width: 100%;
          height: calc(2.25rem + 2px);
          padding: 0.375rem 1.75rem 0.375rem 0.75rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          vertical-align: middle;
          background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
              background-color: rgba(0, 0, 0, 0);
          background-color: #fff;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &:before {
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          }
        }
      }
    }
  }
}
