#root {
  position: relative;
}
body {
  margin: 0;
}
header {
  position: sticky;
  top: 0;
  max-width: 840px;
  margin: 0 auto;
  z-index: 5;
  padding: 0.3rem;
  background: #6a9ae8;
}
header .header-container {
  display: flex;
  color: #000000;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}
header .header-container h2 {
  width: 100%;
  text-align: center;
}
header .header-container .logo-container {
  width: 40px;
}
header .header-container .logo-container .logo {
  height: 35px;
}
header .header-container .title-container {
  width: calc(100% - 40px);
  text-align: center;
}
header .header-container .title-container h3 {
  margin: 0;
  color: #ffffff;
}
.main-container {
  max-width: 840px;
  margin: 0 auto;
}
.main-container .app-container {
  padding: 1rem;
  position: relative;
  margin: 0 auto;
}
.main-container .app-container .notification-dialog {
  top: 0;
  left: 0;
  position: relative;
  padding: 0.75rem 1.25rem;
  padding-right: 4rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.main-container .app-container .notification-dialog.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.main-container .app-container .notification-dialog.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.main-container .app-container .notification-dialog .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.main-container .app-container .notification-dialog .close:hover {
  cursor: pointer;
}
.main-container .app-container .menu-container {
  margin-bottom: 20px;
}
.main-container .app-container .menu-container .menu-options {
  display: flex;
  flex-direction: row;
}
.main-container .app-container .menu-container .menu-options .option-toggle {
  display: flex;
  margin: 0 auto;
}
.main-container .app-container .menu-container .submenu-container {
  margin-top: 0.5rem;
  position: relative;
  flex-direction: column;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.main-container .app-container .menu-container .submenu-container .submenu {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.main-container .app-container .form-buttons {
  display: flex;
}
.main-container .app-container .form-buttons .button-container {
  margin: 0 auto;
}
.main-container .app-container .activity-list-container {
  margin-top: 0.5rem;
  position: relative;
  flex-direction: column;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.main-container .app-container .activity-list-container .activity-list {
  -webkit-flex-direction: row-reverse;
  flex-direction: column-reverse;
  display: flex;
  display: -webkit-flex;
}
.main-container .app-container .activity-list-container .activity-list .activity {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}
.main-container .app-container .activity-list-container .activity-list .activity .activity-details {
  display: flex;
}
.main-container .app-container .activity-list-container .activity-list .activity .activity-details .activity-name {
  flex: 1;
}
.main-container .app-container .activity-list-container .activity-list .activity .activity-details .activity-checkbox {
  position: relative;
}
.main-container .app-container .activity-list-container .activity-list .activity .activity-details .activity-checkbox.delete {
  margin-right: 1rem;
}
.main-container .app-container .activity-list-container .activity-list .activity .activity-details .activity-checkbox.change-state {
  margin-right: 1rem;
}
.button-primary {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
.button-primary.small {
  line-height: 1;
  padding: 0.1875rem 0.375rem;
}
.button-primary:hover {
  text-decoration: none;
}
.button-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.button-primary.primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.button-primary.primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.button-primary.primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.button-primary.danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.button-primary.danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.button-primary.danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.form-container .form .form-input-container {
  position: relative;
}
.form-container .form .form-input-container:not(:first-child) {
  margin-top: 15px;
}
.form-container .form .form-input-container.checkbox-container {
  display: block;
  position: relative;
}
.form-container .form .form-input-container.checkbox-container .form-label {
  margin-left: 5px;
}
.form-container .form .form-input-container.actions-container {
  display: flex;
  flex-direction: row;
}
.form-container .form .form-input-container.actions-container .button-container {
  display: flex;
  margin: 0 auto;
}
.form-container .form .form-input-container .text-input {
  display: block;
  width: 90%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-container .form .form-input-container .text-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-container .form .form-input-container .text-input.error {
  box-shadow: 0 0 1.5px 1px red;
}
.form-container .form .form-input-container .input-description {
  color: #6c757d;
  display: block;
  margin-top: 0.25rem;
}
.form-container .form .form-input-container .select-container .form-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center / 8px 10px;
  background-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-container .form .form-input-container .select-container .form-select:before {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
